body {
  background: #18171F;
  font-family: 'JetBrainsMono-Bold.ttf';
}

@font-face {
  font-family: 'JetBrainsMono-Bold.ttf';
  src: url("./assets/fonts/static/JetBrainsMono-Bold.ttf");
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 90vh;
  text-align: center;
  color: white;
}

.title {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #817D92;
}

.top {
  width: 100%;
  max-width: 400px;
  margin-bottom: 20px;
  background: #24232C;
  box-sizing: border-box;
  padding: 20px;
}

.password {
  font-size: 18px;
}

.password-copy {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 5px;
}

.copy {
  width: 24px;
  height: 24px;
  cursor: pointer;
}

#copied {
  display: none;
  color: #A4FFAF;
}

.down, button {
  width: 100%;
  max-width: 400px;
}

button {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 5px;
  cursor: pointer;
  padding: 15px;
  border: none;
  background: #A4FFAF;
  transition: 0.5s ease;

}

button:hover {
  background: transparent;
  border: 1px solid #A4FFAF;
  overflow: hidden;
  box-sizing: border-box;
  color: #A4FFAF;
}

.down {
  background: #24232C;
  padding: 20px;
  box-sizing: border-box;
}

.options {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 10px 0;
}


.checkbox-container {
  display: flex;
  align-items: center;
}

input[type="checkbox"] {
  -webkit-appearance: none;
  cursor: pointer;
  width: 20px;
  height: 20px;
  border: 1.5px solid white;
  background: transparent;
  display: flex;
  align-items: center;
  box-sizing: border-box;
  padding: 4px;
}

.levels {
  display: flex;
  gap: 10px;
  align-items: center;
  margin-top: 10px;
}

input[type="checkbox"]:checked {
  background: #A4FFAF;
  border: none;
  content: url(./assets/images/icon-check.svg);
}


.strength {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #18171F;
  box-sizing: border-box;
  padding: 20px;
  height: 50px;
  color: white;
  margin-top: 15px;
  margin-bottom: 15px;
}

.number {
  display: flex;
  justify-content: space-between;
  align-items: center;

}


.slider {
  -webkit-appearance: none;
  width: 100%;
  background: #18171F;
  height: 8px;
  outline: none;
  margin: 10px 0;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none;
  background: #ffffff;
  height: 28px;
  width: 28px;
  border-radius:  50%;
  cursor: pointer;
  transition: 0.5s ease-out;

}

.slider:active::-webkit-slider-thumb {
  background: #18171F;
  border: 2px solid #A4FFAF;
}

.strength-visual {
  display: flex;
  justify-content: space-between;
  gap: 10px;
  align-items: center;

}
.show-visual {
  display: flex;
  flex-direction: row; /* Stack the visual elements vertically */
  align-items: center;
  margin-top: 10px;
}

.visual {
  width: 10px;
  height: 28px; 
  border: 2px solid white;
  margin-bottom: 5px;
  margin-right: 5px; 
  transition: background-color 0.3s ease; 
}

.number_ {
  color: #A4FFAF;
}


.copy{
  transition: 0.3s ease-in;
}

.copy:hover{
  filter: grayscale(100%) brightness(200%);
}

.error-message
{
  display: none;
  justify-content: center;
  align-items: center;
  width: 100%;
  max-width: 300px;
  text-align: center;
  background: #7bf37b;
  color: black;
  padding: 5px;
  border-radius: 10px;
}

